<h1><%= @volunteer.volunteer_name %></h1>
<hr>

<h2>Make mods to <%= @volunteer.volunteer_name %></h2>

<div class="container">
  <p><a href="/volunteers/<%= @volunteer.id %>/edit">Update/Delete <%= @volunteer.volunteer_name%></a></p>
  <p><a href="/">Return to Main Page</a>
</div>
<hr>
